<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.ProductMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加商品信息记录 -->
	<insert id="addProduct" parameterType="product">
		insert into t_product(productNo,productClassObj,productName,productPhoto,count,price,madeAddress,guige,madeDate,yxq,beizhu) values 
		(#{productNo},#{productClassObj.productClassId},#{productName},#{productPhoto},#{count},#{price},#{madeAddress},#{guige},#{madeDate},#{yxq},#{beizhu})
	</insert>

	<!-- 按照查询条件分页查询商品信息记录 -->
	<select id="queryProduct" resultMap="productMap" >
		select t_product.* from t_product,t_productClass ${where} and t_product.productClassObj = t_productClass.productClassId limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="productMap" type="product">
        <id property="productNo" column="productNo" />
        <association property="productClassObj" column="productClassObj" select="com.chengxusheji.mapper.ProductClassMapper.getProductClass" />
    </resultMap>

    <!-- 按照查询条件查询所有商品信息记录 -->
	<select id="queryProductList" resultMap="productMap" >
		select t_product.* from t_product,t_productClass ${where} and t_product.productClassObj = t_productClass.productClassId
	</select>

    <!-- 按照查询条件的商品信息记录数 -->
	<select id="queryProductCount" resultType="int">
		select count(*) from t_product,t_productClass ${where} and t_product.productClassObj = t_productClass.productClassId
	</select>

	<!-- 根据主键查询某个商品信息记录 -->
	<select id="getProduct" parameterType="string" resultMap="productMap">
		select * from t_product where t_product.productNo = #{productNo}
	</select>

	<!-- 更新商品信息记录 -->
	<update id="updateProduct" parameterType="product">
		update t_product set productClassObj=#{productClassObj.productClassId},productName=#{productName},productPhoto=#{productPhoto},count=#{count},price=#{price},madeAddress=#{madeAddress},guige=#{guige},madeDate=#{madeDate},yxq=#{yxq},beizhu=#{beizhu} where productNo = #{productNo}
	</update>

	<!-- 删除商品信息记录 -->
	<delete id="deleteProduct" parameterType="string">
		delete from t_product where productNo=#{productNo}
	</delete>

</mapper>
